# Fastapi
fastapi>=0.110.2
python-multipart>=0.0.9
uvicorn[standard]
pydantic
pydantic-settings
typer

# AI - Manually install cuda-capable pytorch
torch>=2.1.0
torchvision
transformers>4.35.2
pillow>9.3.0
numpy

# OCR - you can choose other option if necessary, or completely disable it if you don't need this feature
easypaddleocr>=0.3
# easyocr
# paddleocr

# Vector Database
qdrant-client>=1.9.2

# Storage
opendal

# Misc
aiofiles
aiopath
wcmatch
pyyaml
loguru
httpx
pytest
rich