# Fastapi
fastapi
python-multipart
uvicorn[standard]
pydantic
pydantic-settings


# AI - Manually install cuda-capable pytorch
torch
torchvision
transformers>4.35.2
pillow>9.3.0
numpy

# OCR - you can choose other option if necessary, or completely disable it if you don't need this feature
easypaddleocr>=0.1.2
# easyocr
# paddleocr

# Vector Database
qdrant-client

# Storage
opendal

# Misc
aiofiles
aiopath
wcmatch
pyyaml
loguru
httpx