# Fastapi
fastapi
python-multipart
uvicorn[standard]
pydantic
pydantic-settings


# AI - Manually install cuda-capable pytorch
torch
torchvision
transformers
pillow
numpy

# Vector Database
qdrant-client

# Misc
pyyaml
loguru
httpx
