name: Test and Lint Project

on:
  workflow_call:
  push:
    branches-ignore:
      - 'master'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10" ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint pytest
          pip install torch torchvision --index-url https://download.pytorch.org/whl/cpu
          pip install -r requirements.txt
      - name: Test the code with pytest
        run: |
          pytest .
      - name: Analysing the code with pylint
        run: |
          pylint --rc-file pylintrc.toml -j 0 app scripts tests && lint_result=$? || lint_result=$?
          exit $(( $lint_result & 35 ))
        
